@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@200;300;400;600&family=Praise&display=swap');

/* menu starts */

:root {
    --yellow: #f9ca24;
}

body {
    color: #fff;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    /* transisi reload */
    transition: all .2s linear;
    font-weight: bold;
}

*::selection {
    background: var(--yellow);
    color: #333;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.4rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: var(--yellow);
}

body {
    background: #272930;
    overflow-x: hidden;
    padding-left: 35rem;
}

/* home starts */

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    font-weight: bolder;
}

body.dark .home h3 {
    color: black;
}

.home h3 {
    font-size: 2.5rem;
    color: #fff;
}

body.dark .home h1 {
    color: black;
}

.home h1 {
    font-size: 5rem;
    color: #fff;
}

.home h1 span {
    color: var(--yellow);
}

body.dark .home p {
    color: black;
}

.home p {
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

/* home ends */

/* section */

section {
    min-height: 100vh;
    padding: 1rem;
}

/* section */

/* button */

.btn {
    padding: .7rem 3rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    font-weight: bolder;
}

.btn i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: var(--yellow);
}

/* button */

/* about */

body.dark .heading {
    color: black;
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: #fff;
}

.heading span {
    color: var(--yellow);
}

.about .row .info span {
    color: #fff;
}

/* about */

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    /* menjadi lingkaran */
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}

header .user .name {
    font-size: 3.5rem;
    color: #fff;
}

header .user .post {
    font-size: 2rem;
    color: #eee;
}

header .navbar {
    width: 100%;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem; 
}

header .navbar ul li a:hover {
    background: var(--yellow);
}

/* menu ends */

/* menu responsive */

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    /* responsive hilang */
    display: none;
}

/* about */

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 2rem;
    color: var(--yellow);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    /* color: #eee; */
    padding: 0.5rem;
}

.about .row .counter {
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width: 20rem;
    background: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span {
    font-size: 4rem;
    color: var(--yellow);
}

.about .row .counter .box h3 {
    font-size: 2rem;
    color: #fff;
}

body.dark .about .row .info span {
    color: black;
}

.about .row .info span {
    color: #fff;
}
/* about */

/* education */

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

body.dark .education .box-container .box {
    border-left: .2rem solid black;
}

.education .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    font-weight: bold;
    background: #222;
    /* color: #fff; */
    border-radius: 5rem;
    padding: .5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    /* color: #fff; */
    padding-top: 1.5rem;
    font-weight: bold;
}

.education .box-container .box p {
    font-size: 1.4rem;
    /* color: #fff; */
    padding-top: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    /* color: #fff; */
    background: var(--yellow);
}

.education .box-container .box span {
    color: #fff;
}

/* education */

/* portfolio */

.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box {
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img {
    transform: scale(1.2);
}

/* portfolio */

/* contact */

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    /* color: #fff; */
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}

.contact .row form .box::placeholder {
    text-transform: capitalize;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: lowercase;
    /* color: #fff; */
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    /* color: #eee; */
    padding: 1rem 0;
    font-weight: normal;
    text-transform: none;
    
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: var(--yellow);
}

.contact .row .content .info ul li {
    list-style: none;
}

/* contact */

/* top */

.top {
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    z-index: 100;
    display: none;
}

.top img {
    width: 50px;
    
}

/* top */

/* dark/light mode */

.mode .label {
    background-color: #1a1a1a;
    display: flex;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 20px 10px;
    transform: scale(1.5);
}

body.dark {
    background-color: #fff;
}

body.dark {
    color: black;
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.ball {
    background-color: #111;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

/* membuat tombol bergerak kanan kiri */
.checkbox:checked + .label .ball {
    transform: translate(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;

}

/* dark/light mode */

body.dark form .box {
    color: black;
}

form .box{
    color: #fff;
}

/* media queries */
/* responsive layar */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    /* home */
    .home {
        padding: 1rem 4rem;
    }
}


@media (max-width:991px) {
    header {
        left: -120%;
    }

    #menu {
        display: block;
    }

    /* memunculkan menu bar ketika diklik */
    header.toggle {
        left: 0%;
    }

    /* home */
    body {
        padding: 0;
    }
}

@media (max-width:768px) {

    html {
        font-size: 50%;
    }

}

@media (max-width:400px) {

    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .portfolio .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }
}

/* ----- */

